@model RedStore_Mvc.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(i => i.Customer.Name)
        @Html.TextBoxFor(i => i.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Customer.BirthDate)
        @Html.TextBoxFor(i => i.Customer.BirthDate, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label></label>
        @Html.CheckBoxFor(i => i.Customer.IsSubscribedToNewsletter) Subscribe To News Letter?
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Customer.MembershipTypeId)
        @Html.DropDownListFor(i => i.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

